# requirements.txt
langchain
langchain_ollama
langchain_community
pdfminer.six
tqdm
pandas
streamlit
chromadb
langchain-ollama==0.1.2
medspacy==0.2.2.0
spacy==3.7.4
elasticsearch==8.13.0
sentence-transformers==2.6.1
streamlit==1.35.0
pymupdf==1.24.4
pdfminer.six==20231228
tqdm==4.66.2
langchain==0.1.16